*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #3175e4;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #5146e5;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    transition:0.3s ease;
    box-shadow:0px 5px 5px black;
}
.hero button:hover{
    background-color:rgb(10, 1, 43);
    transform: scale(1.1);
}



footer {
    text-align: center;
    padding: 17px;
    background: #1e28f2;
    color: white;
}
